@font-face {
  font-family:"Klee";
  src:url("Klee_One/KleeOne-Regular.ttf") format("truetype");
 }
.body1 {
   font-family:"Klee";
    color: #333;
    background-color:rgb(211, 158, 97);
    margin:0;
  }
.body2 {
   font-family:"Klee";
    color: #333;
    background-color:#3b8dbf;
    margin:0;
  }
.body3 {
   font-family:"Klee";
    color: #333;
    background-color:rgb(211, 158, 97);
    margin:0;
  }

  
  .loading{
    position:fixed;
    inset:0;
    z-index:10;
    height:100vh;
    background-color:#212121;
  }
  .loading-inner img{
    height:200px;
  }
  .loading-inner{
    width:100%;
    height:inherit;
    display:grid;
    place-content:center;
    row-gap:10px;
  }

    .container-head{
      width:100%;
      margin-bottom:50vh;
      position:relative;
    }
    .container-head img{
     width:100%;
    }
    .first-container{
      width:100%;
      margin-bottom:40vh;
      position:relative;
    }
    .first-container img{
      width:100%;
    }
    .first-copy{
      color:white;
      position:absolute;
      left:20%;
      top:20%;
    }

    .Box-container{
      width:100%;
      position:absolute;
      top:0;
      left:0;
    }
    .Box {
      margin-bottom:25%;
    }
    .Box p{
      writing-mode:vertical-rl;
      font-size:28px;
    }
    .box{
      height:42vh;
      background-color:white;
      margin-left:10%;
      margin-bottom:20%;
      padding: 30px 20px;
    }
    .box2{
      height:56vh;
      background-color:white;
      margin:5% 5% 0 84%;
      padding:30px 25px;
    }
    .logo{
      height:10px;
      position:relative;
    }
 .logo img{
  width:500px;
  margin-left:50px;
  position:absolute;
  top:-300px;
 }

  .bun-container{
    width:43%;
    margin:0 auto;
    margin-bottom:30vh;
  }
  .bun-container p{
    font-size:20px;
    color:white;
    text-align:center;
    line-height:1.9;
  }

  .intro-animation{
    width:100%;
    height:100vh;
    display:flex;
    text-align:center;
    align-items:center;
    justify-content:center;
    position:relative;
  }
  .intro-copy{
    position:absolute;
    top:40%;
    left:60%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    color:#2c3e50;
    display:inline-block;
    text-align:left;
    padding-left:50px;
    width:35%;
  }
  .intro-copy h2{
    font-size:26px;
    margin-bottom:-20px;
    border-bottom:2px solid;
    border-color:#1c2849;
  }
  .intro-copy h3{
    font-size:30px;
    color:#f0e9e3;
  }
  .intro-copy p{
    font-size:24px;
  }
  .intro-illust{
    position:relative;
    height:100%;
  }
  .intro-illust img{
    position:absolute;
    top:50%;
    right:10;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
  }

  .table-container{
    height:100vh;
    max-width:60%;
    margin: 0 auto;
    padding: 10% 20% 10% 20%;
   margin-bottom:200px;
  }
  .table{
    margin-bottom:15vh;
  }
  .table a{
    text-decoration:none;
    text-align:center;
  }
  .table p{
    color:rgb(255, 255, 255);  
  }
  .button-page{
    font-size:20px;
  }
  .button-copy{
    font-size:28px;
    margin-top:10px;
  }
  .table-back1{
    background-image:url("img_folder/table1.jpg");
    background-size:cover;
    height:20vh;
    padding:5px 0 8px 0;
  }
  .table-back2{
    background-image:url("img_folder/table2.jpg");
    background-size:cover;
    height:20vh;
    padding:5px 0 8px 0;
  }
  .table-back3{
    background-image:url("img_folder/table3.jpg");
    background-size:cover;
    height:20vh;
    padding:5px 0 8px 0;
  }
  .table-container div:hover{
    opacity:.9;
  }
  
  .sub-title{
    width:100%;
  }
  .chapter.common {
    padding:30px 70px 30px 70px;
  }
  
  .chapter h2 {
    font-size: 32px;
    color: #ffffff;
    margin:80px 0;
   text-align:center;
  }
  .chapter-talk{
    margin-top:70px;
  }
  .chapter-talk dl{
  display:flex;
  font-size:16px;
  color:white;
  margin-bottom:40px;
  }
  .chapter-talk dt{
    width:15%;
    text-align:right;
  }
  .chapter-talk dd{
    width:80%;
    line-height:1.8em;
  }
    .container-article {
      max-width: 60%;
      margin: 0 auto;
      padding: 0 20px;
      margin-bottom:20vh;
    }
 .img-container{
  height:10px;
  text-align:right;
 }
 .img-container img{
  height:250px;
 margin-right:-230px;
  margin-top:-400px;
 }
 .img-container2{
  height:10px;
  text-align:left;
 }
 .img-container2 img{
  height:250px;
  margin-top:-400px;
  margin-left:-200px;
 }
  .page-button{
    justify-content:center;
    display:flex;
    gap:150px;

  }
  .page-button a{
    text-decoration:none;
    height:150px;
    width:100px;
  }
  .page-button p{
    color:rgb(83, 83, 83);
    text-decoration:none;
    font-size:16px;
  }
 .up-page-button{
  background-color:black;
 }

  .imgtable{
    height:100px;
  }
  .imgtable:hover{
    opacity:.5;
  }
  .btn{
    width:100px;
    margin:0 auto;
    position:relative;
    margin-inline:auto;

  }
  .btn img{
    height:auto;
    left:0;
    position:absolute;
    width:100%;
  }
  .btn img:last-of-type{
    opacity:0;
    transition:opacity .7s;
  }
  .btn:hover img{
    opacity:1;
  }
  .btn:hover img:first-of-type{
    opacity:0;
  }
  .ending-container{
    margin:50% 0 0 0;
    padding-bottom:15%;
    background-color:black;
    position:relative;
  }
 .ending-animation img{
  width:100%;
 }
 .ending-copy{
  padding-top:20%;
  text-align:center;
  font-size:26px;
  color:lightgrey;
  font-weight:lighter;
  position:absolute;
  top:0;
  left:40%;
  opacity:0;
 }
 .globe-container{
  margin:0 auto;
  text-align:center;
  margin-bottom:20vh;
  margin-top:-20vh;
  background-color:#3b8dbf;
 }
 .globe img{
  width:95%;
  margin-left:5%;
 }

  @media screen and (max-width: 950px) {
    .chapter-talk dl{
      display:flex;
      font-size:14px;
      }
      a{
        text-decoration:none;
        width:60px;
      }
      .box2{
        margin-right:20px;
        height:50vh;
        padding: 25px 15px;
      }
      .box{
        height:36vh;
        margin-left:20px;
        padding: 25px 15px;
      }
      .Box p{
        font-size:24px;
      }
      .Box{
        margin-bottom:15%;
      }
      .logo img{
        width:400px;
        top:-200px;
      }
      .ending-copy{
        font-size:20px;
        left:38%;
      }
      .img-container img{
        height:200px;
        margin-right:-150px;
      }
      .bun-container{
        width:60%;
      }

  }

  @media screen and (max-width: 767px) {
    h1 {
      font-size: 32px;
    }
  .Box p{
    font-size:18px;
  }
  .Box{
    margin-bottom:20%;
  }
  .box{
    margin-bottom:30px;
    height:27vh;
    margin-left:20px;
    padding: 18px 15px;
  }
  .box2{
    height:35vh;
    margin:5% 2% 0 84%;
    padding: 18px 15px;
  }
  .logo img{
    width:350px;
    top:-160px;
  }
  .intro-copy{
    left:55%;
    top:50%;
  }
    .header h1 {
      margin-bottom: 12px;
    }
    .bun-container{
      width:70%;
    }
    .bun-container p{
      font-size:18px;
      line-height:1.9;
    }
    .intro-copy{
      position:absolute;
      top:50%;
      left:63%;
      transform:translate(-50%,-50%);
      -webkit-transform:translate(-50%,-50%);
      -ms-transform:translate(-50%,-50%);
    }
    .intro-illust img{
      position:absolute;
      top:50%;
      right:10;
      transform:translate(-40%,-50%);
      -webkit-transform:translate(-30%,-50%);
      -ms-transform:translate(-50%,-50%);
    }
    .intro-copy h2{
      font-size:20px;
    }
    .intro-copy h3{
      font-size:26px;
    }
    .intro-copy p{
      font-size:24px;
    }
    .chapter.common{
      padding: 30px 50px 30px 50px;
      margin-bottom: 48px;
    }

    .chapter h2 {
      font-size: 24px;
    }
  
    .chapter-talk dl{
      display:flex;
      font-size:14px;
      }
      .page-button p{
        font-size:11px;
      }
      .intro-animation img{
        height:70vh;
      }
      .intro-copy h2,h3{
        font-size:24px;
      }
      .intro-copy p{
        font-size:18px;
      }
      .img-container img{
        height:160px;
        margin-right:-100px;
      }
      .img-container2 img{
        height:180px;
        margin-top:-400px;
        margin-left:-150px;
      }
      .ending-copy{
        left:35%;
      }
      .bun-container p{
        font-size:16px;
      }
    
  }

  @media screen and (max-width:650px){
  .page-button img{
    height:80px;
    width:80px;
  }
  .page-button{
    justify-content:center;
    display:flex;
    gap:100px;
  }
  .Box p{
    font-size:16px;
  }
  .box{
    margin-bottom:30px;
    height:27vh;
    margin-left:20px;
  }
  .box2{
    height:32vh;
    margin:5% 2% 0 84%;
  }
  .logo img{
    width:300px;
  }
  .logo{
    top:20px;
  }
  }

